*{
    padding: 5px;
    border: 7px;
    margin: 7px;
}
body{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    background-color: aqua;
    box-sizing: content-box;
    }
    .goat{
        text-decoration: solid;
        text-transform: capitalize;
    }
    .fish{
        box-sizing:content-box;
        text-transform: capitalize;
    }
    .fool{
        border-radius: 50%;
        margin-bottom: 45px;
    }


